html {

    /* Colorpalette */
    --white: #ffffff;
    --shade-97: #F7F7F7;
    --shade-92: #EBEBEB;
    --shade-85: #D9D9D9;
    --shade-43: #6D6D6D;
    --shade-11:#1C1C1C;
    --black: #000000;


    /* Fonts */
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;

    --heading-l: 3.5rem;
    --heading-m: 2.7rem;
    --heading-s: 2.3rem;

    --text-xs: 1.2rem;
    --text-s: 1.4rem;
    --text-m: 1.6rem;

    /* Spacing */
    --document-space: 2rem;
    --section-space: 3rem; 

    --space-m: 2rem;
    --space-l: 3rem;

    /* Icons */
    --icon-l: 3rem;
}

h2 {
    margin-top: 0;
}

body {
    margin: 0;
    overflow-x: hidden;
}

#header-main nav, #header-main form, #header-sub p:not(:first-child), #header-sub ul span { 
    display: none;
}

.bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

/* ############# BUTTONS #############*/
.btn-l {
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
}

.solid-light {
    background-color: var(--shade-97);
    color: var(--shade-11);
    text-decoration: none;
}
/* ############# BUTTONS end #############

/* Icons */
.icon-xs {
    width: 1.6rem;
    height: 1.6rem;
}

.icon-s {
    width: 2.2rem;
}

.icon-m {
    width: 3.4rem;
}

.icon-l {
    width: 4.5rem;
}

/* ############# Header styles  ############# */

#header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem var(--document-space);
}

#header-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--shade-92);
    padding: 0.2rem var(--document-space);
}

#header-sub p {
    display: flex;
    align-items: center;
    font-size: var(--text-xs);
    font-weight: 300;
}

#header-sub p img {
    padding-left: 1rem;
}

#header-sub ul {
    display: flex;
    list-style-type: none;
    gap: var(--space-m);
}

#header-sub ul a {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: var(--shade-11);
    font-size: var(--text-s);
    text-decoration: none;
}

#header-main :first-child {
    flex-grow: 2;
}

.logo a {
    font-weight: 700;
    text-decoration: none;
    font-size: 3rem;
    color: var(--shade-11);
}

#header-main span:nth-child(3) {
    padding-left: 2.5rem;
}

/* ######### Header end ######### */

/* ######### Slider ######### */
#slider {
    position: relative;
}

.slide {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 5rem;
    height: 40vh;
    max-height: 40rem;
    text-align: center;
    background-color: rgba(0,0,0,.2);
}

.slide h1, .slide h2 {
    font-size: var(--heading-l);
    color: var(--white);
}

.slide-arrows {
    width: 100%;
    position: absolute;
    top: 50%;
    cursor: pointer;
    color: var(--white);
}

.slide-arrow-left {
    display: inline-block;
    padding-left: 1rem;
}

.slide-arrow-right {
    float: right;
    padding-right: 1rem;
}

.slide-arrow-left img, .slide-arrow-right img {
    width: 2.5rem;
    height: 2.5rem;
}

.slide-dots {
    width: 100%;
    position: absolute;
    display: flex;
    gap: 1rem;
    left: 50%;
    margin-left: -35px;
    bottom: 2rem;
    z-index: 2;
}

.slide-dot {
    width: 1rem;
    height: 1rem;
    border: .1rem solid var(--white);
    background-color: rgba(0,0,0,0);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot-active {
    background-color: var(--white);
}

#kategorier {
    padding: var(--section-space) var(--document-space);
    display: flex;
    flex-direction: column;
    row-gap: var(--space-m);
}

#kategorier h2 {
    font-size: var(--heading-m);
    font-weight: 600;
    margin-bottom: 0;
}

.category {
    display: flex;
    position: relative;
    height: 25rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.15);
}

.category h3 {
    font-size: var(--heading-s);
    color: var(--white);
    line-height: 0;
    font-weight: 600;
}

#selling-points {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    background-color: var(--shade-97);
    padding: var(--section-space) var(--document-space);
}

#selling-points span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-m);
    font-size: var(--heading-s);
    font-weight: 400;
}

/* ######### Produkter ######### */

#produkter {
    padding: var(--section-space) var(--document-space);
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: var(--space-m);
}

#produkter :first-child {
    grid-column: 1 / -1;
}

#produkter > *:not(:first-child) {
    background-color: var(--shade-97);
    padding-bottom: 2rem;
    position: relative;
}

#produkter :not(:first-child) :not(:first-child) {
    padding: 0 2rem;
}

#produkter h2 {
    font-size: var(--heading-m);
}

#produkter article img {
    width: 100%;
}

.favoritt {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    background-color: var(--white);
    width: 1.2rem;
    height: 5rem;
    border-radius: 100rem;
    z-index: 10;
}

footer {
    background-color: var(--shade-97);
}

#footer-main {
    padding: var(--section-space) var(--document-space);
}

#footer-sub {
    padding: 1rem var(--document-space);
    background-color: var(--shade-92);
}

footer ul {
    list-style-type: none;
    padding: 0;
}